header {
    height: 10vh;
}

mat-toolbar {
    padding: 3%;
    position: fixed;
    z-index: 1;
    background-color: #e67164;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

#logo {
    width: 25%;
}
.card {
    width: 90%;
    margin: 0 auto;
}

.card-body {
    border-top: 1px solid #dee1e6;
}

#produtoImg {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
}

.card:hover #paragrafoNome {
    white-space: normal;
    overflow: unset;
}

.btn {
    background-color: white !important;
    border: none;
}

#detalhes {
    float: left;
}

#carrinho {
    float: right;
}

#carrinho, #detalhes {
    width: 40%;
    cursor: pointer;
}

#botoes {
    margin-bottom: 5%;
}

body {
	padding-top: 60px;
}


@media screen and (min-width: 1200px) {

    #carrinhoLogo {
        width: 20%;
    }

    body {
        margin-top: 5%;
    }


    .logo {
        margin-top: -2%;
        width: 30%;
    }

    #logarBtn {
        margin-top: 2%;
    }

    #logo {
        width: 10%;
    }

}






