<header>
  <mat-toolbar>
    <img id="logo" [src]="logo">
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon (click)="gotoCart()">shopping_cart</mat-icon>
    </button>
    <button mat-stroked-button *ngIf="isUserLoggedIn" (click)="logout()">
      Logout
    </button>
    <button mat-stroked-button *ngIf="!isUserLoggedIn" (click)="login()">
      Login
    </button>
  </mat-toolbar>
</header>
<body>
    <div class="container-fluid">
      <div class="row">
          <div id="colProduto" class="col-sm-6 col-lg-4 col-xl-3 mb-3"  *ngFor="let produto of listaDeProdutos">
              <div class="card">
                <img id="produtoImg" [src]="produto?.img">
                <div class="card-body">
                  <p class="card-text" id="paragrafoNome">{{ produto?.name}}</p>
                  <p class="card-text">{{ produto?.unitCost | currency:'R$'}}</p>
                </div>
                <div id="botoes" class="row">
                  <div class="col-6">
                      <img id="carrinho" class="imgIcons" [src]="icones.addCart" (click)="addToCart(produto)">
                  </div>
                  <div class="col-6">
                      <img id="detalhes" class="imgIcons" [src]="icones.detalhes" (click)=" goTodetalhesByState(produto)">
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </body>

