  
header{
    background-color: #e67164 !important;
    width: 100%;
    padding: 5%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
}

body {
    z-index: 1;
}

#carrinhoLogo {
    float: right;
    width: 100%;
    cursor: pointer;
}

#logarBtn {
    background-color: #e67164 !important;
    border: 1px solid white;
    float: right;
    margin-top: 15%;
}

#logarBtn:hover {
    color: white;
}

.logo {
    width: 70%;
    margin-top: 5%;
}

.card {
    width: 90%;
    margin: 0 auto;
}

.card:hover {
    cursor: pointer !important;
}
  
.card:focus {
    cursor: pointer !important;
}

.card-body {
    border-top: 1px solid #e67164;
}

#produtoImg {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
}

#paragrafoNome {
    white-space: nowrap;
    overflow: hidden;
}

.card:hover #paragrafoNome {
    white-space: normal;
    overflow: unset;
}

.btn {
    background-color: white !important;
    border: none;
}

#detalhes {
    float: left;
}

#carrinho {
    float: right;
}

#carrinho, #detalhes {
    width: 40%;
}

#botoes {
    margin-bottom: 5%;
}

body {
	padding-top: 60px;
}


@media screen and (min-width: 1200px) {

    #carrinhoLogo {
        width: 20%;
    }

    header {
        height: 20vh;
        padding-top: 5%;
    }

    body {
        margin-top: 10%;
    }


    .logo {
        margin-top: -2%;
        width: 30%;
    }

    #logarBtn {
        margin-top: 2%;
    }

}






