.container, .container-fluid, body {
    background-color: white !important;
}

.container-fluid {
    overflow-x: hidden;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#logo {
    display: flex;
    vertical-align: middle;
}

#carroVazio {
    width: 40%;
    position: absolute;
    top: 20%;
    left: 30%;
    text-align: center;
}

#divCarroVazio {
    margin-bottom: 5%;
}

#imgCarroVazio {
    width: 50%;
}

#VoltarBtn {
    margin: auto;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#cabecalho {
    padding: 1%;
}

#carrinhoIcon {
    width: 30px;
}

#spanCarrinho {
    font-size: 22px;
    padding-inline-start: 7px;
}

#contCompraBtn {
    float: right;
}


#imagemProd {
    width: 50%;
    border-radius: 5px;
}

#listaProd, #total {
    border-top: 2px solid grey;
    padding: 1%;
}

#preco, #nome {
    padding-top: 2.5%;
}

#finalizaCompraBtn {
    float: right;
}


footer {
    padding: 2%;
    background-color: #BBBDBF;
    width: 100%;
}

#linhaFooter {
    align-items: center;
    background-color: #f8f9fa;
}

.btn-sm {
    float: right;
}