.container-fluid, html, header {
    background-color: #e67164 !important;
}

header {
    position: fixed;
}

.container {
    width: 100%;
    background-color: #e67164;
}

#logo {
    margin-top: 5%;
    margin-bottom: 10%;
}

#titulo {
    text-align: center;
}

form {
    padding: 5%;
}

fieldset {
    margin-bottom: 4%;
}

.form-group {
    width: 100%;
}

.cardForm {
    background-color: white !important;
    margin-bottom: 5%;
    border-radius: 10px;
}

button {
    margin: auto;
    width: 100%;
    margin-bottom: 10%;
}

@media screen and (min-width: 1200px) {

    .container {
        width: 60%;
    }


    #logo {
        margin-bottom: 5%;
    }
}