<form [formGroup]="fGroup" (ngSubmit)="onSubmit()">
    <div class="container">
        <div>
          <img id="logo" [src]="img">
        </div>
        <div id="user" class="row">
          <div></div>
            <label class="col-sm-2 col-xl-2 col-form-label">Usuário</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="accessKeyId">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Senha</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" formControlName="secretKey">
            </div>
        </div>
        <button id="logar" type="submit" class="btn btn-light btn-sm">Logar</button>
    </div>
    
</form>

