.container, .container-fluid, body {
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body {
    overflow-y: scroll;
    flex-grow: 1;
}

#logo {
    display: flex;
    vertical-align: center;
}

#VoltarBtn {
    margin: auto;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#cabecalho {
    padding: 1%;
}

#carrinhoIcon {
    width: 30px;
}

#spanCarrinho {
    font-size: 22px;
    padding-inline-start: 7px;
}

#contCompraBtn {
    float: right;
}

#imagemProd {
    width: 50%;
}

#listaProd{
    border-top: 2px solid grey;
    padding: 1%;
}

#preco, #nome {
    padding-top: 2.5%;
}

#finalizaCompraBtn {
    float: right;
}

footer {
    bottom:0;
    width:100%;
    padding: 2%;
    background-color: #bbbdbf;
}

#linhaFooter {
    align-items: center;
    background-color: #f8f9fa;
}

.btn-sm {
    float: right;
}

