mat-icon {
    cursor: pointer;
    vertical-align: middle;
}

mat-icon::selection {
    background-color: transparent;
}

table {
    display: table;
    width: 100%;
}

tbody {
    border-bottom: 1px solid #dee2e6;
}

td {
    display: table-cell;
    vertical-align: middle;
}

th, td {
    text-align: left; 
}

.qtd {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body {
    overflow-y: scroll;
    flex-grow: 1;
}


#contCompraBtn {
    float: right;
}

#imagemProd {
    height: 50px;
}

#listaProd{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    padding: 1%;
}

#espacamento {
    margin-right: 4%;
}


 #nome, #divQuantidade, #remover  {
    display: flex;
    justify-content: left;
    align-items: center;
}

#finalizaCompraBtn {
    float: right;
}

footer {
    bottom:0;
    width:100%;
    padding: 2%;
    background-color: #bbbdbf;
}

#linhaFooter {
    align-items: center;
    background-color: #f8f9fa;
}

.btn-sm {
    float: right;
}

